*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
}
header{
    background-color: black;
    padding:15px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav>a{
    text-decoration: none;
    color:white;
    font-weight: 600;
}
.container{
    background: url('Image/apple1.jpg') no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container > h2{
    font-size: 56px;
}
.container > h3{
    font-size: 28px;
}

.container2{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:15px;
    margin: 0 25% 0 25%;
}
.container2 > h1{
    font-size: 96px;
}
.container2 > h2{
    font-size: 24px;
}

/*para escritorio*/
@media all and (min-width:1025px) and (max-width: 1200px){
    .container2 > h1{
        font-size: 64px;
    }
}

/*para portatil*/
@media all and (min-width:769px) and (max-width: 1024px){
    .container > h2{
        font-size: 48px;
    }
    .container > h3{
        font: 24px;
    }
    .container2 > h1{
        font-size: 48px;
    }
    .container2 > h2{
        font-size: 21px;
    }
}

/*para movil*/
@media all and (min-width: 320px) and (max-width: 480px){
    .container > h2{
        font-size: 32px;
    }
    .container > h3{
        font-size: 19px;
    }
    .container2 > h1{
        font-size: 48px;
    }
    .container2 > h2{
        font-size: 17px;
    }
}

