*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: black;
    padding:15px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav>a{
    text-decoration: none;
    color:white;
    font-weight: 600;
}
.container{
    background: url('Image/apple1.jpg') no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2{
    font-size: 56px;
}
h3{
    font-size: 28px;
}

@media all and (min-width:769px) and (max-width: 1024px){
    h2{
        font-size: 48px;
    }
    h3{
        font: 24px;
    }
}

@media all and (min-width: 320px) and (max-width: 480px){
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 19px;
    }
}

