*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    background-color: #F5F5F7;
}
header{
    background-color: #FAFAFC;
    padding:15px;
    display: flex;
    align-items: center;
    padding: 15px 0 15px 50px;
}
header > a > img{
    width: 20px;
}
header >nav{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav>a{
    text-decoration: none;
    color:#3b3b3b;
    font-weight: 600;
}
.intro{
    height: 100vh;
    width: 100%;
}

.intro > .content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:15px;
    margin: 0 25% 0 25%;
}
.intro > .content > picture > img{
    width: 100%;
    height: auto;
}
.intro > .content > h1{
    font-size: 96px;
}
.intro > .content > h2{
    font-size: 24px;
}

.cards{
    background: #F5F5F7;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.cardgroup{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.card{
    width: 35%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}
.cardwhite2{
    height: 55vh;
}
.card > picture>img{
    width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px;
}
.cardblack{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.cardwhite {
    background-color: white;
    text-align: center;
    border-radius:10px;
}
.cardtext{
    width: 70%;
    margin: 40px 0 20px 0;
}

.cardtext > h3{
    font-size: 36px;
}
.cardtext > .cardbuttons > button{
    color: white;
    background-color: rgb(0, 119, 255);
    padding:10px;
    border:none;
    border-radius: 20px;
}
.cardtext > .cardbuttons > a{
    text-decoration: none;
    color: rgb(0, 119, 255);
    font-size: 12px;
    font-weight: 600;
}
/*para escritorio (pantallas)*/
@media all and (min-width:1025px) and (max-width: 1200px){
    .intro > .content > h1{
        font-size: 64px;
    }
    .cardtext > h3{
        font-size: 24px;
        width: 70%;
    }
    .card{
        width: 45%;
        height: 48vh;
        overflow: hidden;
        align-items: flex-start;
    }
    .cardtext{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card > picture>img{
        width: 160%;
        height: auto;
        border-radius: 0 0 10px 10px;
    }
}

/*para portatil*/
@media all and (min-width:769px) and (max-width: 1024px){
    .intro > .content > h1{
        font-size: 48px;
    }
    .intro > .content > h2{
        font-size: 21px;
    }
    .cardtext > h3{
        font-size: 24px;
    }
    .card{
        height: 40vh;
    }
   .cardwhite2{
        height: 35vh ;
    }
}

/*para movil*/
@media all and (min-width: 320px) and (max-width: 768px){
    nav{
        flex-wrap: wrap;
        line-height: 30px;
    }
    .intro > .content{
        width: 100%;
        height: 100vh;
        margin:0;
    } 
    .intro > .content > h1{
        font-size: 48px;
        width: 90%;
    }
    .intro > .content > h2{
        font-size: 17px;
        width: 90%;
    }
    .cardtext{
        width: 90%;
    }
    .cardtext > h3{
        font-size: 24px;
    }
    .cards{
        display: block;
        
    }
    .cardgroup{
        flex-direction: column;
        
    }
    .cardgroup > .card:first-child {
        margin-top: 20px;
    }
    .card{
        width: 60%;
        height: auto;
    }

}
